footer{
    min-height: 10vh;
    background-color: #964B00;
    margin-top: 25%;
    
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1em;
}

@media only screen and (max-width: 800px){
    footer{
        margin-top: 70%;
    }
}