<div class="imgDiv">
    <img [src]="angularLogo" alt="Angular logga svartvitt">
</div>


<h1>Om denna webbplats</h1>
<p>Webbplatsen är en demonstration för användning av Angular ramverk. </p>
<p>Alla undersidor i webbplatsen är uppbyggda som egna komponenter, utöver det, så header footer och konverterings 
    funktionaliteten är också själv stående komponenter som är importerade och implementerade i sina platser i webbplatsens 
    undersidor. </p>

<p>
    Navigering i webbplatsen är skapad med hjälp av Angulars router-modul.
</p>
<p>
    Angulars Templates och data binding är använda i ”Konvertera” under sida specifikt i ”conversion” komponenten, 
    där two-way binding med hjälp av ngModel direktivet och event binding sköter funktionaliteten av att konvertera mellan 
    fot och meter och vice versa samt Celsius och   Fahrenheit och vice versa. 
</p>

<p>
    Property binding har också använts för att infoga bilderna i webbplatsen. 
</p>

<p>
    Angular är ett effektivt och väldigt mycket tidssparande verktyg för att utveckla frontend delen i webbapplikationer. 
    Den logiska strukturen av Angular gör det lätt att förstå och använda även om det kan innebära en stor mängd information 
    att ta in vid första kontakten med ramverket. 
</p>